@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HeroKid';
  src: url('/fonts/herokid-boldexpanded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HeroKidReg';
  src: url('/fonts/herokid-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HeroKidTiny';
  src: url('/fonts/herokid-light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Agora você pode usar a fonte no seu projeto */
body {
  font-family: 'MinhaFonte', sans-serif;
}

h2{
  font-family: 'HeroKid';
}
p{
  font-family: 'HeroKidTiny';
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
